version: "3.7"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
    #volumes:
    #  - ".:/app"
    #  - "/app/node_modules"
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
  backend:
    restart: always
    build:
      context: ./backend
      dockerfile: backend.Dockerfile
    ports:
      - 5000:5000
    #volumes:
    #  - .:/backend
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: "startercode"
      POSTGRES_PASSWORD: "test"
      POSTGRES_USER: "test"

volumes:
  postgres_data:
